.audio-page{

display:flex;

flex-direction:column;

align-items:center;

padding:40px;

min-height:100vh;

background:#eef7ef;

}

.audio-page h1{

margin-bottom:40px;

color:#0b7a39;

}

audio{

width:500px;

}

.back-btn{

margin-top:40px;

padding:12px 30px;

background:#0b7a39;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}