.asas-page{

display:flex;

flex-direction:column;

align-items:center;

padding:40px;

min-height:100vh;

background:#eef7ef;

}

.asas-page h1{

color:#0b7a39;

margin-bottom:20px;

}

.asas-page h3{

margin-bottom:15px;

}

.asas-page select{

width:300px;

padding:12px;

font-size:18px;

border-radius:10px;

margin-bottom:40px;

}

.menu{

display:grid;

grid-template-columns:repeat(2,200px);

gap:20px;

}

.menu button{

height:120px;

font-size:24px;

border:none;

border-radius:15px;

background:#0b7a39;

color:white;

cursor:pointer;

transition:.3s;

}

.menu button:hover{

transform:translateY(-5px);

background:#14934a;

}

.back-btn{

margin-top:40px;

padding:12px 30px;

background:#ffffff;

border:2px solid #0b7a39;

color:#0b7a39;

font-size:18px;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

.back-btn:hover{

background:#0b7a39;

color:white;

}