.module-card{

background:white;

border-radius:18px;

padding:20px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

cursor:pointer;

transition:.3s;

box-shadow:0 10px 25px rgba(0,0,0,.12);

height:200px;

}

.module-card:hover{

transform:translateY(-6px);

}

.module-image{

width:70px;

margin-bottom:15px;

}

.module-card h2{

font-size:32px;

color:#0d7f3e;

margin-bottom:8px;

}

.module-card p{

font-size:20px;

font-weight:bold;

color:#444;

}